/*billboard.js specific css*/
.bb svg {
    font: 10px sans-serif;
    -webkit-tap-highlight-color: transparent
}

.bb line, .bb path {
    fill: none;
    stroke: #000
}

.bb text {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none
}

.bb-bars path, .bb-event-rect, .bb-legend-item-tile, .bb-xgrid-focus, .bb-ygrid {
    shape-rendering: crispEdges
}

.bb-chart-arc path {
    stroke: #fff
}

.bb-chart-arc text {
    fill: #fff;
    font-size: 13px
}

.bb-grid line {
    stroke: #333
}

.bb-grid text {
    fill: #333;
    font-size: 1.3em;
}

.bb-xgrid, .bb-ygrid {
    stroke-dasharray: 3 3
}

.bb-text.bb-empty {
    fill: gray;
    font-size: 2em
}

.bb-line {
    stroke-width: 1px
}

.bb-circle._expanded_ {
    stroke-width: 1px;
    stroke: #fff
}

.bb-selected-circle {
    fill: #fff;
    stroke-width: 2px
}

.bb-bar {
    stroke-width: 0
}

.bb-bar._expanded_ {
    fill-opacity: .75
}

.bb-target.bb-focused {
    opacity: 1
}

.bb-target.bb-focused path.bb-line, .bb-target.bb-focused path.bb-step {
    stroke-width: 2px
}

.bb-target.bb-defocused {
    opacity: .3 !important
}

.bb-region {
    fill: #4682b4;
    fill-opacity: .1
}

.bb-brush .extent {
    fill-opacity: .1
}

.bb-legend-item {
    font-size: 12px
}

.bb-legend-item-hidden {
    opacity: .15
}

.bb-legend-background {
    opacity: .75;
    fill: #fff;
    stroke: #d3d3d3;
    stroke-width: 1
}

.bb-title {
    font: 14px sans-serif
}

.bb-tooltip-container {
    z-index: 1
}

.bb-tooltip {
    border-collapse: collapse;
    border-spacing: 0;
    background-color: #fff;
    empty-cells: show;
    opacity: .9;
    box-shadow: 7px 7px 12px -9px #777
}

.bb-tooltip tr {
    border: 1px solid #ccc
}

.bb-tooltip th {
    background-color: #aaa;
    font-size: 14px;
    padding: 2px 5px;
    text-align: left;
    color: #fff
}

.bb-tooltip td {
    font-size: 13px;
    padding: 3px 6px;
    background-color: #fff;
    border-left: 1px dotted #999
}

.bb-tooltip td > span, .bb-tooltip td > svg {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 6px
}

.bb-tooltip td.value {
    text-align: right
}

.bb-area {
    stroke-width: 0;
    opacity: .2
}

.bb-chart-arcs-title {
    dominant-baseline: middle;
    font-size: 1.3em
}

.bb-chart-arcs .bb-chart-arcs-background {
    fill: #e0e0e0;
    stroke: none
}

.bb-chart-arcs .bb-chart-arcs-gauge-unit {
    fill: #000;
    font-size: 16px
}

.bb-chart-arcs .bb-chart-arcs-gauge-max, .bb-chart-arcs .bb-chart-arcs-gauge-min {
    fill: #777
}

.bb-chart-arc .bb-gauge-value {
    fill: #000
}

/*End billboard.js specific css*/
