building-general {
  max-height: 1200px;
  overflow-y: hidden;
  display: block;
}

#masthead {
  position: relative;
  min-height: 105vh;
}

#building-blurred {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-size: cover;
  filter: blur(20px)
}

#building {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  max-width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-position-x: center
}

@media (min-width: 1440px) {
  #building {
    right: auto;
    left: 50%;
    width: 1440px;
    margin-left: -720px;
  }
}

#building-overlay {
  position: absolute;
  width: 100vw;
  height: 105vh;
  background-image: linear-gradient(-180deg, rgba(103, 103, 103, 0.3) 3%, #030131 96%);
  background-blend-mode: hard-light
}

.building-summary {
  position: absolute;
  top: 20vh;
  width: 100vw;
  height: 90vh
}

.building-summary__label {
  display: block;
  text-align: center;
  text-transform: uppercase;
  color: #EAC83C;
  font-size: 18px;
  font-weight: 600;
}

.building-summary__heading {
  text-align: center;
  opacity: 0.9;
  color: #FFF;
  font-size: 64px;
  font-weight: 900;
}

.building-summary__number, .building-summary__department {
  letter-spacing: 5px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, .7);
  font-size: 18px;
  font-weight: 500;
}

.building-summary__wrapper {
  flex-grow: 1
}

.building-summary__key, .building-summary__value {
  display: block;
  text-align: center;
  color: #FFF;
  font-weight: 500;
}

.building-summary__key {
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 11px;
}

.building-summary__value {
  letter-spacing: 0.62px;
  font-size: 30px;
  line-height: 1.1;
  font-weight: 100;
}

.building-summary__details-r0, .building-summary__details-r1, .building-summary__details-r2 {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  max-width: 600px;
  margin: 0 auto;
}

.building-summary__details-r0 {
  margin-top: 3.5vh;
}

.building-summary__details-r1 {
  margin-top: 3vh;
  padding-top: 5vh;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
}

.building-summary__details-r2 {
  margin-top: 5vh;
}

/*# sourceMappingURL=style.css.map */
