@mixin card-variant($bg-color, $text-color, $bdr-color, $summary-key-color, $summary-value-color, $summary-bg-color) {

	background-color: $bg-color;
	border:0;
	border-top: 3px solid $bdr-color;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	min-height: 560px;
	color: $text-color;


	.to-top {
		color: $text-color;
	  position: absolute;
	  top: 10px;
	  right: 15px;
	  font-size: .75rem; // 12px
	  z-index: 1;
	}

	.to-top:hover {
		color: lighten($text-color, 7%);
	}

	.to-top:active {
		color: darken($text-color, 7%);
	}


	.card--module {
		margin: 2vw; //temporary
		//font-family: $font;
		padding: 2rem;
	}

	.card--module__title {
		color: $bdr-color;
		letter-spacing: .5px;
		font-size: 30px;
		font-weight: 700;
		margin-top: 2rem;
	}

		.card-summary {
			border: 0;
			background: $summary-bg-color;

			&:not(:last-child) {
				border-right: 1px solid $bg-color;
			}
		}

		.card-summary:nth-of-type(1) {
			border-top-left-radius: 4px !important;
			border-bottom-left-radius: 4px !important;
		}

		.card-summary:last-child {
			border-top-right-radius: 4px !important;
			border-bottom-right-radius: 4px !important;
		}

		.card-summary--key {
			font-size: 14px;
			color: $summary-key-color;
		}

		.card-summary--value 	{
			font-weight: 500;
			font-size: 24px;
			color: $summary-value-color;
		}



		.card__well {
			background-color: #FFF;
			margin: 1rem;
			padding-bottom: 1rem;
			border-radius: 4px;
		}

		.card__well-title {
			font-weight: 500;
			font-size: 1rem;
			color: $text-color;
			border-bottom: 2px solid $bg-color;
			margin-left: -1rem;
			margin-right: -1rem;
			text-indent: 1rem;
			line-height: 2.5;
		}

	.section-summary .section-summary__title {
		font-size: 16px;
		//color: #444;
	}

}


#FCIchart {
	@include card-variant($card-green-bg-color, $card-green-text-color, $card-green-top-border-color, $card-green-summary-key-color, $card-green-summary-value-color, $card-green-summary-bg-color)
}

#projectList, #projectListSummary {
	@include card-variant($card-blue-bg-color, $card-blue-text-color, $card-blue-top-border-color, $card-blue-summary-key-color, $card-blue-summary-value-color, $card-blue-summary-bg-color)
}



#workOrderSection, #workOrderSectionSummary {
	@include card-variant($card-purple-bg-color, $card-purple-text-color, $card-purple-top-border-color, $card-purple-summary-key-color, $card-purple-summary-value-color, $card-purple-summary-bg-color)
}

#surveyHistogramContainer, #surveyHistogramSummary {
	@include card-variant($card-yellow-bg-color, $card-yellow-text-color, $card-yellow-top-border-color, $card-yellow-summary-key-color, $card-yellow-summary-value-color, $card-yellow-summary-bg-color)
}

project-list-summary,
work-oder-chart-summary,
survey-histogram-summary {
	display: block;
}


fci-bar-chart,
project-list,
work-order-chart,
survey-histogram {
	display: block; //unknown HTML element
	max-width: 1470px;
	margin: 0 auto;
}
