#mainScreen{
    background-size: cover!important;
}
/* Map Tooltip */
.leaflet-tooltip {
    position: absolute;
    padding: 0px;
    background-color: #fff;
    border: 2px solid #3733C4;
    border: 0;
    border-radius: 3px;
    color: #222;
    white-space: nowrap;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none;
    box-shadow: 0 1px 3px rgba(0,0,0,0.4);
    }
.leaflet-tooltip.leaflet-clickable {
    cursor: pointer;
    pointer-events: auto;
    }
.leaflet-tooltip-top:before,
.leaflet-tooltip-bottom:before,
.leaflet-tooltip-left:before,
.leaflet-tooltip-right:before {
    position: absolute;
    pointer-events: none;
    border: 6px solid transparent;
    background: transparent;
    content: "";
    }
.leaflet-tooltip .title {
 background:#3733C4;
 color:white;
 padding:2px;
 border-top-left-radius: 3px ;
 border-top-right-radius: 3px ;
}
.leaflet-tooltip .table {
 padding:1px;
}

/*filterButtons */
// .btn-outline-primary{
//     border:1px solid #900D27;
//     color:#900D27;
// }
//
// .btn-outline-primary:hover{
//     background-color: #900D27;
//     border: #900D27;
//     color: #fff;
// }
//
// .btn-outline-primary:not([disabled]):not(.disabled).active, .btn-outline-primary:not([disabled]):not(.disabled):active, .show>.btn-outline-primary.dropdown-toggle{
//     background-color: #900D27;
//     border: #900D27;
//     color: #fff;
//     box-shadow: 0 0 0 0.2rem rgba(156, 12, 12, 0.38);
// }
//
// .btn-outline-primary:focus {
//    box-shadow: 0 0 0 0.2rem rgba(156, 12, 12, 0.38);
// }

.jumbotron {
    padding: 2rem 2rem;
}
// .select2-container--default .select2-results>.select2-results__options{
//     background: #EBEBEB;
//     border-top: 2px solid #900D27;
// }


/* Building Details*/
// .btn-outline-secondary{
//     border:1px solid white;
//     color:white;
// }
//
// .btn-outline-secondary:hover{
//     background-color: white;
//     border: white;
//     color: #900D27;
// }
//
// .btn-outline-secondary:not([disabled]):not(.disabled).active, .btn-outline-secondary:not([disabled]):not(.disabled):active, .show>.btn-outline-secondary.dropdown-toggle{
//     background-color: white;
//     border: white;
//     color: #900D27;
//     box-shadow: 0 0 0 0.2rem rgba(156, 12, 12, 0.38);
// }
//
// .btn-outline-secondary:focus {
//    box-shadow: 0 0 0 0.2rem rgba(156, 12, 12, 0.38);
// }

.image-column{
    height: 100%;
    width: 100%;
}
.column-building{
    background-color: white;
    margin: 0 0.5em 1em 0.5em;
    color: #666666;
}
.column-building .title{
    color: #900D27;
}
.column-building .heavy{
    font-weight: 800;
}
.column-building .light{
    font-weight: 100;
}
#imageBuilding{
    padding: 1em;
}
.column-building .otitle{
    font-size: 1.1rem;
}
.all-columns{
    border-top: 3px solid #900D27;
}
.nav-mod{
    margin: 0.5em 0 0.5em 0;
    color: #495057 !important;
    background-color: #A0A0A0!important;
    border: 1px solid #A0A0A0!important;
    border-top-left-radius: .25rem!important;
    border-bottom-left-radius: .25rem!important;
}
.nav-no-border{
        border-bottom: none;

}
.active{
    background-color: #900D27!important;
}
.rotated-text{
    color: white;
    font-weight: 100;
    font-size: .8em;

}
.jumbotron {
        padding: 2rem 2rem;
    }
.select2-container--default .select2-results>.select2-results__options{
    background: #EBEBEB;
    border-top: 2px solid #900D27;
}
#searchSelect{
    margin-bottom: 1em;
}
.main-headers{
    margin-bottom: 6em;
    margin-top: 4em;
}
.bullet { font: 10px sans-serif; }
.bullet .marker { stroke: #000; stroke-width: 2px; }
.bullet .tick line { stroke: #666; stroke-width: .5px; }
.bullet .range.s0 { fill: #eee; }
.bullet .range.s1 { fill: #ddd; }
.bullet .range.s2 { fill: #ccc; }
.bullet .measure.s0 { fill: lightsteelblue; }
.bullet .measure.s1 { fill: steelblue; }
.bullet .title { font-size: 14px; font-weight: bold; }
.bullet .subtitle { fill: #999; }




.fci-average {
    color: #000000;
    font-size: 1em;
}

.extra-padding {
    padding:.5em;
}

/* Style */
#woCostChart .bb-region.evenRegion,#woNumberChart .bb-region.evenRegion {fill:#b6b5b5;}
#woCostChart .bb-region.oddRegion,#woNumberChart .bb-region.oddRegion {fill:white;}
#woCostChart .bb-xgrid-line line,#woNumberChart .bb-xgrid-line  line{stroke: #c0c0c0;}
#woCostChart .bb-xgrid-line text,#woNumberChart .bb-xgrid-line text{stroke: #c0c0c0;}

#woCostChartPlanner .bb-region.evenRegion, #woNumberChartPlanner .bb-region.evenRegion {fill: #b6b5b5;}
#woCostChartPlanner .bb-region.oddRegion, #woNumberChartPlanner .bb-region.oddRegion {fill: white;}
#woCostChartPlanner .bb-xgrid-line line, #woNumberChartPlanner .bb-xgrid-line line {stroke: #c0c0c0;}
#woCostChartPlanner .bb-xgrid-line text, #woNumberChartPlanner .bb-xgrid-line text {stroke: #c0c0c0;}

#woNumberChartPro .bb-region.evenRegion, #woCostChartPro .bb-region.evenRegion {fill: #b6b5b5;}
#woNumberChartPro .bb-region.oddRegion, #woCostChartPro .bb-region.oddRegion {fill: white;}
#woNumberChartPro .bb-xgrid-line line, #woCostChartPro .bb-xgrid-line line {stroke: #c0c0c0;}
#woNumberChartPro .bb-xgrid-line text, #woCostChartPro .bb-xgrid-line text {stroke: #c0c0c0;}

// .module-container{
//     min-height: 100vh;
// }

.gantt-design {
    fill: #999;
}

.gantt-construction {
    fill: #318FFE;
}

.grid line {
    stroke: #B9B9B9;
    stroke-opacity: 0.7;
    shape-rendering: crispEdges;
}

g.gantt-chart path.domain {
    stroke:none;
}

g.gantt-chart rect.today-line {
    stroke:red;
}

.gantt-nodate {
	stroke:none;
	fill:none;
}
