.dataTable > thead > tr > th {
	border-top: 0;
	border-bottom: 0;
}

.dataTable th,
.dataTable td {
	border-color: #B9B9B9;
}

.dataTable > tbody > tr:first-child > td {
	border-top: 0;
}

.details-control {
	color: #318FFE;
	width: 1px;
}

.projectId {
  width: 1px;
  white-space: nowrap;
}


.detail__heading {
	font-size: 13px;
	color: #666;
	letter-spacing: 0.64px;
	text-transform: uppercase;
}

.detail__key,
.detail__value {
	font-size: 14px;
	display: block;
}

.dataTable .details td {
border-top: 1px solid #F1F1F1;
background-color: #F1F1F1;
padding-top: 2rem;
padding-bottom: 2rem;

}

.detail__key {
	color: #666;
}
.detail__value {
	font-family: $font-mono;
	color: #000;
}
