// Keep search from going under navbar
//.map-page main {padding-top: 70px};

.dataTables_wrapper {
  padding: 0;
}

fci-bar-chart,
project-list,
work-order-chart,
survey-histogram {
  position: relative;
}


// Select 2

.global-nav {padding :0; padding-left: 15px;}

// Active Selection
.select2-container--default .select2-selection--single .select2-selection__rendered {
  color: #fff;
  line-height: 2.8;
}

.select2-container--default .select2-selection--single {
  background-color: rgba(255,255,255,.1);
  border: 0;
  border-radius: 0;
}


// Placeholder
.select2-container--default .select2-selection--single .select2-selection__placeholder {
  color: #DDD;
}

.select2-container .select2-selection--single {
  height: 45px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  top: 10px;
}

@include media-breakpoint-up(lg) {
  .container-padded {
    padding-left: 30px;
    padding-right: 30px;
  }
}

.navbar-brand {
  color: #fff;
}

.navbar-brand:hover,
.navbar-brand:active {
  color: rgba(255,255,255,.8);
}

.map-page .card-summary--value {
  font-size: 18px !important;
}
