$ns: "evpt";

$font: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

$font-mono: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier,monospace;

// CARDS

// card--blue
$card-blue-bg-color: #BADAFF;
$card-blue-text-color: #226fc8;
$card-blue-top-border-color: #308FFE;
$card-blue-summary-key-color: #4A4A4A;
$card-blue-summary-value-color: #308FFE;
$card-blue-summary-bg-color: #ACD1FB;


// card--purple
$card-purple-bg-color: #CBC8E7;
$card-purple-text-color: #423E6A;
$card-purple-top-border-color: #746F9F;
$card-purple-summary-key-color: #FFF;
$card-purple-summary-value-color: #423E6A;
$card-purple-summary-bg-color: #B9B4DE;

// card--yellow
$card-yellow-bg-color: #F5D175;
$card-yellow-text-color: #674A01;
$card-yellow-top-border-color: #CC9300;
$card-yellow-summary-key-color: #FFF;
$card-yellow-summary-value-color: #674A01;
$card-yellow-summary-bg-color: #EABF4F;

// card-green
$card-green-bg-color: #a7efe1;
$card-green-text-color: #355C54;
$card-green-top-border-color: #439686;
$card-green-summary-key-color: #FFF;
$card-green-summary-value-color: #355C54;
$card-green-summary-bg-color: #7CD9C7;
