<section id="mapArea" class="map-area container-fluid container-padded">
    <filter-buttons></filter-buttons>
    <map-leaflet></map-leaflet>
</section>

<div class="container-fluid container-padded">
  <h1 style="font-size: 2.5rem;font-weight: 800;color: #666; margin-top:2rem;">Campus</h1>
  <div class="row">
    <div class="col-lg-6 mt-4">
      <fci-bar-chart></fci-bar-chart>
    </div>
    <div class="col-lg-6 mt-4">
      <project-list-summary></project-list-summary>
    </div>
    <div class="col-lg-6 mt-4 mb-5">
      <work-order-chart-summary></work-order-chart-summary>
    </div>
    <div class="col-lg-6 mt-4 mb-5">
      <survey-histogram-summary></survey-histogram-summary>
    </div>
  </div>
</div>
