<section id="surveyHistogramContainer" class="card">
  <a class="to-top" href="#globalNav" title="Go to top of page"><i class="fas fa-long-arrow-alt-up
"></i>&nbsp;Back to Top</a>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <h2 class="card--module__title mb-5">Some Chart</h2>
      </div>
    </div>

    <div class="section-summary row no-gutters">
      <h3 class="section-summary__title col-sm-12">Year-To-Date Summary</h3>

      <div class="card card-summary mb-3 rounded-0 col-md-2">
        <div class="card-body">
          <h6 class="card-summary--key">Some Title</h6>
          <span class="card-summary--value" id="surveyCount">…</span>
        </div>
      </div>

      <div class="card card-summary mb-3 rounded-0 col-md-2">
        <div class="card-body">
          <h6 class="card-summary--key">Average Rating</h6>
          <span class="card-summary--value" id="surveyRatingAverage">…</span>
        </div>
      </div>

      <div class="card card-summary mb-3 rounded-0 col-md-2">
        <div class="card-body">
          <h6 class="card-summary--key">Response Rate</h6>
          <span class="card-summary--value" id="surveyResponseRate">…</span>
        </div>
      </div>
      <div class="col-md-6">
        <span id="surveyErrorMessage"></span>
      </div>

    </div>
    <!--/.section-summary -->
  </div>
  <div class="card__well p-3">
    <div class="row">
      <div class="col-md-6">
        <!-- @TODO get rid of inline style -->
        <h4 class="card__well-title" style="margin-top: -.75rem;">Survey Ratings for Fiscal Year</h4>
        <div  id="surveyHistogramChart"></div>
      </div>
      <div class="col-md-6">
        <!-- @TODO get rid of inline style -->
        <h4 class="card__well-title" style="margin-top: -.75rem;">Survey Ratings by Month</h4>
        <div id="surveyOverTimeChart"></div>
      </div>
    </div>
  </div>
</section>
