    <!--<button type="button" class="btn btn-outline-primary"><i class="fas fa-building"></i> Assets</button>-->
    <div class="btn-group">
    <div class="dropdown">
      <button class="btn btn-light btn-map dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-cogs"></i> Projects
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <h5 class="text-center">Status</h5>
        <a class="dropdown-item small"><input type="checkbox" id="filter1" value="In Construction"/>&nbsp;<label for="filter1">In Construction</label></a>
        <a class="dropdown-item small"><input type="checkbox" id="filter2" value="Inactive"/>&nbsp;<label for="filter2">Inactive</label></a>
        <a class="dropdown-item small"><input type="checkbox" id="filter3" value="Ongoing"/>&nbsp;<label for="filter3">Ongoing</label></a>
        <a class="dropdown-item small"><input type="checkbox" id="filter4" value="Department Review"/>&nbsp;<label for="filter4">Department Review</label></a>
        <a class="dropdown-item small"><input type="checkbox" id="filter5" value="In Design"/>&nbsp;<label for="filter5">In Design</label></a>
      </div>
    </div>
    </div>
    <!--<button type="button" class="btn btn-outline-primary"><i class="fas fa-power-off"></i> Planned Shutdowns</button>-->
    <!--<button type="button" class="btn btn-outline-primary"><i class="fas fa-wrench"></i> Work Orders</button>-->
    <!--<button type="button" class="btn btn-outline-primary" id="fciButton"> Campus FCI</button>-->
