<section id="FCIchart" class="card">
  <a class="to-top" href="#globalNav" title="Go to top of page"><i class="fas fa-long-arrow-alt-up
"></i>&nbsp;Back to Top</a>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-8">
        <h2 class="card--module__title mb-5">FCI</h2>
      </div>
      <div class="col-lg-4 mt-5">
        <label for="buildingRegion" class="small">Compare to</label>
        <select id="buildingRegion" class="custom-select"></select>
        <!-- <label for="buildingRegion">By Campus Region</label>:&nbsp;
        <select id="buildingRegion"></select>
        <label for="buildingUse">Or by Building Usage</label>:&nbsp;
        <select id="buildingUse"></select> -->
      </div>
    </div>
  </div>

  <div class="card__well p-3">
    <!-- @TODO get rid of inline style -->
    <h4 class="card__well-title" style="margin-top: -.75rem;">Facility Condition Index</h4>
    <div class="row">
      <div class="col-sm-12">
        <div id="fciBarChart"></div>
      </div>
    </div>

  </div>
</section>
