<section id="masthead">
  <div id="building-blurred"></div>
  <div id="building"></div>
  <div id="building-overlay"></div>

  <div class="building-summary">
    <span id="campusName" class="building-summary__label">…</span>

    <hgroup>
      <h1 id="buildingName" class="building-summary__heading">…</h1>
      <div class="building-summary__details-r0 text-center">
        <div class="building-summary__wrapper">
          <h2 class="building-summary__number" id="buildingNumber">…</h2>
        </div>
        <div class="building-summary__wrapper">
          <h2 class="building-summary__department" id="buildingType">…</h2>
        </div>
      </div>
    </hgroup>

    <div class="building-summary__details-r1">
      <div class="building-summary__wrapper">
        <span class="building-summary__key">Constructed</span>
        <span class="building-summary__value" id="buildingYear">…</span>
      </div>

      <div class="building-summary__wrapper">
        <span class="building-summary__key">Age</span>
        <span class="building-summary__value" id="buildingAge">…</span>
      </div>

      <div class="building-summary__wrapper">
        <span class="building-summary__key">FCI</span>
        <span class="building-summary__value" id="buildingFci">…</span>
      </div>
    </div>

    <div class="building-summary__details-r2">

      <div class="building-summary__wrapper">
        <span class="building-summary__key">Square Footage</span>
        <span class="building-summary__value" id="buildingSize">…</span>
      </div>

      <div class="building-summary__wrapper">
        <span class="building-summary__key">Active Projects</span>
        <span class="building-summary__value" id="buildingProjects">…</span>
      </div>

    </div>

    <div class="row main-headers text-center">
      <div class="col-md-12 col-sm-12" style="padding: 1em;">
         <a id="surveyLink" href="#surveyHistogramContainer" class="btn btn-outline-light">
           <i class="fas fa-chart-bar"></i> Charts
         </a>
      </div>


    </div>
</section>
