<!--page specific html goes here-->
<building-general></building-general>
<div class="container-fluid container-padded">
  <div class="row">
    <survey-histogram class="col-sm-12 mt-4 mt-lg-5 mb-5"></survey-histogram>
  </div>
</div>
